* {
    padding: 0;
    margin: 0;
}

header {
    background-color: rgb(53, 26, 108);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
}

main {
    margin-top: 48px;
}

#logo {
    color: white;
    font-size: 24px;
}

ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 24px;
}

a {
    color: white;
}

p {
    max-width: 540px;
    margin-top: 16px;
}

.section1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 500px;
}

.section1text {
    width: 100%;
    height: 100%;
    background-color: violet;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

img {
    height: 100%;
}